/* common styles */

.inter {
  font-family: "Inter", sans-serif;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}
body {
  background-color: #f5f8ff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1280px;
  margin:0 auto;
}
.bg-primary {
  background-color: cadetblue;
}
/* nav styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.nav-img {
  position: static;
  width: 135px;
  height: 82px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.nav-items {
  display: flex;

  gap: 48px;
  padding: 22px 0px;
  align-items: center;
}
.home {
  /* Text/Medium/Bold */
  color: rgb(37, 36, 50);

  font-weight: 700;
}
.common-span {
  color: rgb(137, 135, 161);

  font-size: 16px;
  font-weight: 400;
}
.cart {
  /* Text/Medium/Regular */
  color: rgb(0, 0, 0);

  font-weight: 400;
}
/* banner styles */
.banner {
  
  padding:60px 20px;
  
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.banner-title {
  font-size: 4.05rem;
  font-weight: 700;
}
.banner-description {
  color: rgba(0, 0, 0, 0.5);

  font-size: 1.3rem;
  font-weight: 400;
}
.banner-img{
    width: 100%;
    
}

/* span tag styles banner section */
.fresh-flowers {
  color: rgb(233, 90, 8);
}

/* responsive for mobile devices */
@media screen and (max-width: 576px){
     li:nth-child(1),
     li:nth-child(2),
     li:nth-child(3) {
        display: none;
    }
    .banner{
        
        flex-direction:column-reverse ;
        justify-content: center;
        gap: 10px;
        

        
    }
    .banner-title{
        font-size: 1.8rem;
    }
    .banner-description{
        font-size: 0.8rem;
    }




}
